body{
    /* background-color: bisque; */
    background-image: url("../Basic-Portfolio/assets/images/folk-pattern-black.png");
    width: 100%;
    /* font-family: Georgia,"Times New Roman",Times,serif; */
}
h1{
    background-color: teal;
    /* padding: 15px; */
    /* display: inline-block; */
    /* float: left; */
    text-align: center;
    color: white;
    /* position: absolute; */
}
header{
    background-color: gainsboro;
    margin: -8px;
    /* position: relative; */
    height: 87px; 
    margin-bottom: 40px; 

}
header h1{
    /* position: relative; */
    /* padding-left: 30px; */
    /* margin-left: 35px; */
    position: relative;
    bottom: 0;
    /* float: left; */
    display: inline-block;
    padding:15px;
    left: 15.5%;
}
.nav{
    position: relative;
    top: 40px;
    right: 17%;
    background-color: gainsboro;
    float: right;
    font-size: 20px;

}
a{
    color: dimgray;
}
a:link{
    text-decoration: none;
    color: dimgrey;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#mainDiv{
    position: relative;
    /* display: inline-block; */
    background-color: gainsboro;
    width: 70%;
    /* height: 600px;    */
    margin: auto; 
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
#mainDiv h2{
    padding-left: 20px;
    padding-top: 10px;
}
#mainDiv hr{
    width: 90%;
}
h2{
    color:teal;
    position: relative;
    /* padding-top: -115px;  */
}
#mainImg img{
    width: 35%;
    float: left;
    /* height: 60%; */
    padding: 10px;  
}
#submitButton{
    background-color: teal;
    color: white;
    min-width: 60px;
    min-height: 30px;
    height: 10%;
    width: 10%;
    
}
.infoInput{
    width: 60%;
}
form textarea{
    width: 60%;
    height:120px;
}
#submitButton{
 width: 20%;
 min-width: 60px;
 min-height: 30px;
}
/* Tried to get this to indent - wasnt required. */
p{

    margin: 10px;
    /* text-indent: 50px;
    float: left;  
    padding: 10px;   */
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 8%;
    background-color: darkgrey;
    color: white;
    left: 0;
    right: 0;
    padding-top: 0px;
    
}
footer p{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    /* left: 42%; */

}
