body{
    background-image: url("../Basic-Portfolio/assets/images/folk-pattern-black.png");
    width: 100%;
    height: 1000px;
    position: relative;
}
h1{
    background-color: teal;
    text-align: center;
    color: white;
}
header{
    background-color: gainsboro;
    margin: -8px;
    height: 87px; 
    margin-bottom: 40px; 

}
header h1{
    position: relative;
    bottom: 0;
    /* float: left; */
    display: inline-block;
    padding:15px;
    left: 15.5%;
}
.nav{
    position: relative;
    top: 40px;
    right: 17%;
    background-color: gainsboro;
    float: right;
    font-size: 20px;

}
a{
    color: dimgray;
}
a:link{
    text-decoration: none;
    color: dimgrey;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#mainDiv{
    position: relative;
    /* display: inline-block; */
    background-color: gainsboro;
    width: 70%;
    /* height: 600px;    */
    margin: auto; 
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
}
#portfolioDiv{
    position: relative;
    background-color: gainsboro;
    width: 55%;
    margin: auto; 
}
#ulDiv img{
    padding: 10px;
    width: 35%;
    height: 150px;
    
}
#mainDiv h2{
    padding-left: 20px;
    padding-top: 10px;
}
#mainDiv hr{
    width: 90%;
}
h2{
    color:teal;
    position: relative;
    /* padding-top: -115px;  */
}
#mainImg img{
    width: 35%;
    float: left;
    /* height: 60%; */
    padding: 10px;  
}
#submitButton{
    background-color: teal;
    color: white;
    min-width: 60px;
    min-height: 30px;
    height: 10%;
    width: 10%;
    
}
form{
    padding-left: 10px;
    padding-bottom: 10px;
}
.infoInput{
    width: 60%;
}
form textarea{
    width: 60%;
    height:120px;
}
#submitButton{
 width: 20%;
 min-width: 60px;
 min-height: 30px;
}
#ulDiv ul{
    position: relative;
}
p{
/* Tried to get this to indent - wasnt required. */
    margin: 10px;
    /* text-indent: 50px;
    float: left;  
    padding: 10px;   */
}

.footer {

    height:8%; 
    width: 100%;
    background-color: darkgrey;
    color: white;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}   

.footer_contents {
    height:8%; 
    width: 1000px;
    margin:auto;
}

footer p{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
}
